In [1]:
from requests import get
from bs4 import BeautifulSoup
import re
import pandas as pd
from time import sleep
from random import randint
from time import time
from IPython.core.display import clear_output
from warnings import warn
import math
import cv2
import os
import unicodedata
import string
import unidecode

GATHER DATA

In [6]:
path = "../plot_sums/test"

movie_names = open("{}/movie_names.txt".format(path))
movie_names = movie_names.read().split(",,,")

box_office = open("{}/box_office.txt".format(path))
box_office = box_office.read().split(",,,")

directors = open("{}/directors.txt".format(path))
directors = directors.read().split(",,,")

metascore = open("{}/metascore.txt".format(path))
metascore = metascore.read().split(",,,")

movie_runtime = open("{}/movie_runtime.txt".format(path))
movie_runtime = movie_runtime.read().split(",,,")

movieBudget = open("{}/movieBudget.txt".format(path))
movieBudget = movieBudget.read().split(",,,")

movie_genre = open("{}/movie_genre.txt".format(path))
movie_genre = movie_genre.read().split(",,,")

# ADD DIRECTOR, CAST, MPAA, IMDB RATING
# features = ["box_office", "imdb_rating", "metascore", "movie_mpaa", "movie_names", "movie_runtime", "movieBudget"]

# for i, feature in range(features):
#     name = features[i]
#     name = open("{}/{}.txt".format(path, feature))
#     feature = feature.read().split(",,,")

In [7]:
real_runtimes = []
for runtime in movie_runtime:
    real_runtimes.append(runtime.replace(" min", ""))
movie_runtime = real_runtimes
print(len(movie_runtime))

13744

In [8]:
movie_names = movie_names[:-1]
print("Movies: {}".format(len(movie_names)))
box_office = box_office[:-1]
print("Box Office: {}".format(len(box_office)))
metascore = metascore[:-1]
print("Metascore: {}".format(len(metascore)))
movie_runtime = movie_runtime[:-1]
print("Runtime: {}".format(len(movie_runtime)))
movieBudget = movieBudget[:-1]
print("Budget: {}".format(len(movieBudget)))
movie_genre = movie_genre[:-1]
print("Genre: {}".format(len(movie_genre)))

Movies: 13743
Box Office: 13743
Metascore: 13743
Runtime: 13743
Budget: 13743
Genre: 13743

In [9]:
df = pd.DataFrame({
    'name': movie_names,
    'box_office': box_office,
    'metascore': metascore,
    'runtime': movie_runtime,
    'budget': movieBudget,
    'genre': movie_genre
})

df.head(10)

,name,box_office,metascore,runtime,budget,genre
0,Star Wars: Episode VII - The Force Awakens,936662225,81,136,245000000,"Action, Adventure, Fantasy"
1,Avatar,760507625,83,162,237000000,"Action, Adventure, Fantasy"
2,Black Panther,700059566,88,134,200000000,"Action, Adventure, Sci-Fi"
3,Avengers: Infinity War,678815482,68,149,321000000,"Action, Adventure, Sci-Fi"
4,Titanic,659325379,75,194,200000000,"Drama, Romance"
5,Jurassic World,652270625,59,124,150000000,"Action, Adventure, Sci-Fi"
6,The Avengers,623357910,69,143,220000000,"Action, Adventure, Sci-Fi"
7,Star Wars: Episode VIII - The Last Jedi,620181382,85,152,null,"Action, Adventure, Fantasy"
8,Incredibles 2,608581744,80,118,200000000,"Animation, Action, Adventure"
9,The Dark Knight,534858444,84,152,185000000,"Action, Crime, Drama"

In [11]:
df.drop(df[df['budget'] == 'null'].index, inplace = True) 
df.drop(df[df['runtime'] == 'null'].index, inplace = True) 
df.drop(df[df['box_office'] == 'null'].index, inplace = True) 
df.drop(df[df['metascore'] == 'null'].index, inplace = True) 
df.drop(df[df['budget'].str.contains('£')].index, inplace = True) 
df.drop(df[df['budget'].str.contains('€')].index, inplace = True) 
df.drop(df[df['budget'].str.contains('[A-Za-z]', regex=True)].index, inplace = True)

In [12]:
len(df)

5485

In [14]:
df

,name,box_office,metascore,runtime,budget,genre
0,Star Wars: Episode VII - The Force Awakens,936662225,81,136,245000000,"Action, Adventure, Fantasy"
1,Avatar,760507625,83,162,237000000,"Action, Adventure, Fantasy"
2,Black Panther,700059566,88,134,200000000,"Action, Adventure, Sci-Fi"
3,Avengers: Infinity War,678815482,68,149,321000000,"Action, Adventure, Sci-Fi"
4,Titanic,659325379,75,194,200000000,"Drama, Romance"
5,Jurassic World,652270625,59,124,150000000,"Action, Adventure, Sci-Fi"
6,The Avengers,623357910,69,143,220000000,"Action, Adventure, Sci-Fi"
8,Incredibles 2,608581744,80,118,200000000,"Animation, Action, Adventure"
9,The Dark Knight,534858444,84,152,185000000,"Action, Crime, Drama"
10,Rogue One,532177324,65,133,200000000,"Action, Adventure, Sci-Fi"
11,Beauty and the Beast,504014165,65,129,160000000,"Family, Fantasy, Musical"
12,Finding Dory,486295561,77,97,200000000,"Animation, Adventure, Comedy"
13,Star Wars: Episode I - The Phantom Menace,474544677,51,136,115000000,"Action, Adventure, Fantasy"
14,Avengers: Age of Ultron,459005868,66,141,250000000,"Action, Adventure, Sci-Fi"
15,The Dark Knight Rises,448139099,78,164,250000000,"Action, Thriller"
16,Shrek 2,436471036,75,93,150000000,"Animation, Adventure, Comedy"
17,E.T. the Extra-Terrestrial,435110554,91,115,10500000,"Family, Sci-Fi"
18,The Hunger Games: Catching Fire,424668047,76,146,130000000,"Action, Adventure, Sci-Fi"
19,Pirates of the Caribbean: Dead Man's Chest,423315812,53,151,225000000,"Action, Adventure, Fantasy"
20,Jurassic World: Fallen Kingdom,417719760,51,128,170000000,"Action, Adventure, Sci-Fi"
21,Toy Story 3,415004880,92,103,200000000,"Animation, Adventure, Comedy"
22,Wonder Woman,412563408,76,141,149000000,"Action, Adventure, Fantasy"
23,Iron Man Three,409013994,62,130,200000000,"Action, Adventure, Sci-Fi"
24,Captain America: Civil War,408084349,75,147,250000000,"Action, Adventure, Sci-Fi"
25,The Hunger Games,408010692,68,142,78000000,"Action, Adventure, Sci-Fi"
26,Jumanji: Welcome to the Jungle,404515480,58,119,90000000,"Action, Adventure, Comedy"
27,Spider-Man,403706375,73,121,139000000,"Action, Adventure, Sci-Fi"
28,Jurassic Park,402453882,68,127,63000000,"Adventure, Sci-Fi, Thriller"
29,Transformers: Revenge of the Fallen,402111870,35,150,200000000,"Action, Adventure, Sci-Fi"
31,Frozen,400738009,74,102,150000000,"Animation, Adventure, Comedy"
...,...,...,...,...,...,...
12264,Vamps,2964,57,92,16000000,"Comedy, Horror, Romance"
12277,Three Days of Rain,2841,52,98,3500000,Drama
12284,About Cherry,2760,33,98,2500000,Drama
12301,Conspiracy of Silence,2598,46,90,3000000,"Crime, Drama, Thriller"
12304,I Love Your Work,2580,39,111,1650000,"Drama, Mystery"
12309,Ginger Snaps,2554,70,108,5000000,"Drama, Fantasy, Horror"
12313,The First $20 Million Is Always the Hardest,2535,20,105,17000000,Comedy
12317,Locker 13,2468,22,90,300000,Thriller
12330,Nowhere Man,2348,41,78,250000,"Comedy, Crime, Drama"
12343,American Dresser,2211,24,97,2000000,"Adventure, Drama"
12345,Willets Point,2200,42,75,24000,Drama
12354,Julia,2110,62,144,6000000,"Crime, Drama, Thriller"
12361,ATM,2034,34,90,3000000,"Horror, Thriller"
12362,Heartless,2033,58,114,5000000,"Drama, Fantasy, Horror"
12367,The Tenants,2010,46,93,2000000,"Crime, Drama, Romance"
12380,Best Man Down,1842,36,89,1500000,"Comedy, Drama"
12389,The Samaritan,1744,37,90,12000000,"Crime, Drama, Thriller"
12391,Medianeras,1734,60,95,11000000,"Comedy, Drama"
12408,Mr. Smith Gets a Hustler,1583,22,91,200000,"Crime, Drama, Romance"
12417,Butterfly,1500,58,79,175000,Documentary
12425,Terror Firmer,1434,24,124,500000,"Comedy, Horror"
12429,Poor White Trash,1404,23,85,1200000,"Comedy, Crime"
12433,"Love, Wedding, Marriage",1378,13,90,12000000,Comedy
12443,On the Run,1243,38,94,750000,"Comedy, Crime"
12444,Skin Trade,1242,39,96,9000000,"Action, Crime, Thriller"
12459,Flypaper,1098,37,87,5000000,"Comedy, Crime, Mystery"
12467,Khumba,1029,40,85,20000000,"Animation, Adventure, Family"
12493,Jackpot,806,49,97,480000,"Drama, Comedy"
12505,The Jimmy Show,703,39,96,1500000,"Comedy, Drama"
12533,A Perfect Man,388,31,95,5000000,"Drama, Romance"

In [112]:
"124 min".replace(" min", "")

'124'

In [22]:
test = []
a = ["$12321391924", "DKK 123943948312", "asdfa1238213", "2343256234", "234252635", "322423424", "23425"]
for value in a:
    if bool(re.match('^[1234567890]+$', value)) == True:
        test.append(value)
    else:
        print('false')

false
false
false

In [21]:
len(test)

5485